- var notes= ''

section(data-notes=notes)

  section
    h3.title Como configurar?

  section
    h3 Faça o download do <a href="https://git-scm.com/downloads">git</a>

  section
    h3.title Configure o git com seu usuário
    pre
      code.javascript.
        $ git config --global user.name "John Doe"
        $ git config --global user.email johndoe@example.com
