section
  section
    h3.title Git Flow

  section
    h3 O git-flow é um conjunto de extensões para o git que provê operações de alto-nível para repositórios usando o modelo de branches

  section
    h3 master
    h3.fragment develop
    h3.fragment release
    h3.fragment feature
    h3.fragment hotfix
