section(data-notes=notes)
  section
    h2.title Git

  section
    h3.title O que é?

    blockquote.fragment.
      "Git é uma ferramenta open source de controle de versão distribuído, desenhado para funcionar com projetos de pequeno à grande porte com velocidade e eficiência."

  section
    blockquote.
      Tem algumas features que ferramentas como Subversion, CVS, Perforce, and ClearCase não possuem, como local branching, área de staging, and múltiplos wrokflows.
