section
  h2.title Referências
  p.small <i>https://tableless.com.br/tudo-que-voce-queria-saber-sobre-git-e-github-mas-tinha-vergonha-de-perguntar/</i>
  p.small <i>https://git-scm.com/</i>
  p.small <i>https://www.gitkraken.com/</i>
  p.small <i>https://www.udemy.com/git-e-github-para-iniciantes/</i>
  p.small <i>https://willianjusten.com.br/novo-curso-de-git-e-github-para-iniciantes/</i>
