section
  section
    h3.title Porque surgiu?

  section
    h3 Linux utilizava um sistema de versionamento chamado DVCS (Bitkeep)

  section
    h3 A comunidade do Linux e a empresa Bitkeep se desentenderam

  section(data-background="img/linus.gif")
