section
  section
    h3.title Comandos

  section
    h3.title git init
    h3 Inicia um repositório

  section
    h3.title git clone
    h3 Clona um repositório já existente

  section
    h3.title git add
    h3 Adiciona um arquivo para stage

  section
    h3.title git status
    h3 Exibe o status do seu repositório

  section
    h3.title git commit
    h3 Efetiva as alterações

  section
    h3.title git push
    h3 Envia as alterações para o repositório remoto

  section
    h3.title git pull
    h3 Sincroniza o repositório local com o repositório remoto

  section
    h3.title git branch
    h3 Cria uma cópia do branch atual do seu projeto

  section
    h3.title git merge
    h3 Junta as alterações de dois branches diferentes

  section(data-background="img/wow.gif")

