section
  h2.title Icaro Caldeira Carreira
  ul
    li Software Engineer @ <a href="https://boacompra.com"> Uol (BoaCompra) </a>
    li 8+ XP em desenvolvimento
    li Community manager @ Nerdzão
    li Speaker
