- var notes= ''

section(data-notes=notes)
  section
    h3.title Como funciona?

  section
    h3.title SVN, subversion, and similars
    img(src="img/svn.png")

  section
    h3.title Git
    img(src="img/git.png")

  section
    h3.title Three states
    img(src="img/three-states.png")
