doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/slide-1-title
        include ../slides/slide-2-about-me
        include ../slides/slide-3-git
        include ../slides/slide-4-why
        include ../slides/slide-5-how-it-works
        include ../slides/slide-6-configuration
        include ../slides/slide-7-commands
        include ../slides/slide-8-git-flow
        include ../slides/slide-references
        include ../slides/slide-questions
        include ../slides/slide-socials
        include ../slides/slide-thanks
    include inc/scripts
